@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}
body{
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
} 
.container{
  margin: 30px auto;
  width: 350px;
}
.item-list{
  list-style-type: none;
  padding: 0;
}
.item-list li{
  background-color: cornsilk;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
  padding: 20px;
  color: #333;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.horizontal-menu{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}
.horizontal-menu li{
  display: inline-block;
}
.horizontal-menu a{
  color: white;
  text-decoration: none;
  padding: 16px;
  display: block;
}